@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Poppins:wght@200;400&family=Righteous&display=swap');


:root{
    --primary-color:#870f2d;
    --primary-light:#E11D48;
    --secondary-color:#2F80ED;

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    background-color: rgb(73, 6, 6);
}

/* This is header section */
.header{
    padding: 1rem;
    display: flex;
    justify-content: space-around;
    background-color:var(--primary-color);
    width: 50%;
    height: 60px;
    position: relative;
    align-items: center;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 1%;
    border: 2px solid var(--primary-color);
    border-radius: 50px;
    padding: 10px;

}
.logo{

   justify-content: right;
   left: 6px;
   position: absolute;
   width: 185px;
   padding: 6px;

}
.form{
   display: inline-block;
   position: absolute;
   right: 35%;
   padding: 2px;
}
.search{
    /* margin-top: 1%; */
    background-color: transparent;
    border: 2px solid var(--primary-color);
    border-radius: 50px;
    font-family: 'Poppins';
    font-size: 1rem;
    padding: 0.5rem 1rem;
    color:white;
    
    
}
.search:focus{
    outline: 0;
    background-color: var(--primary-light);

}
.search::placeholder{
    color: var(--primary-light);

}

/* This is the main section  */

#main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.movie{
    width: 300px;
    margin: 1rem;
    background-color: var(--primary-light);
    position: relative;
    overflow: hidden;
    border-radius: 3px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);

}
.movie img{
    width: 100%;
    
}
.movie-info{
    display: flex;
    display: flex;
    /* padding: 2px 2px 2px; */
    color: white;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem 1rem;
    letter-spacing: 0.5px;
}
.movie-info h3{
    margin-top: 0;

}
.movie-info span{
    background-color:var(--primary-color);
    padding: 0.25rem 0.5rem;
    border-radius: 3px;
    font-weight: bold;

}
.movie-info span .green{
    color: green;
}
.movie-info span .orange{
    color: orange;
}
.movie-info span .red{
    color:red;
}

.overview {
   position: absolute;
   left: 0;
   right: 0;
   bottom: 0;
   background-color: #fff;
   padding: 1rem;
   max-height:100% ;
   transform: translateY(101%);
   transition:0.3s ease-in ;
}

.movie:hover .overview{
    transform: translateY(0);
}