
:root{
    --primary-color:#870f2d;
    --primary-light:#E11D48;
    --secondary-color:#2F80ED;

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    background-color: #2F80ED;
}

/* This is header section */
.header{
    padding: 1rem;
    display: flex;
    justify-content: space-around;
    background-color: aqua;
    width: 50%;
    height: 70px;
    position: relative;
    margin-left: 25%;
    margin-top: 1%;
    border: 2px solid red;
    padding: 10px;

}
